  .exp-video {
    background-color: #eee;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    max-width: 300px;
  }
  .exp-videocont{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .exp-video:hover {
    transform: scale(1.1);
  }
  