.e-main-body{
    padding: 0px 450px 0px 250px;
    display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
    .e-main-body{
      padding-right: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    .e-main-body{
      padding-left: 0;
    }
  }
