*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 100%;
    width: 100%;
}
.contcont{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.container{
    width: 70vw;
}
.top{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.top .left, .top .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.top .right{
    align-items: flex-start;
}
.bottom{
    margin-top: 2rem;
    width: 100%;
    display: flex;
}
.profilePost{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
}
.profileFrag{
    width: 12rem;
    height: 22rem;
    position: relative;
}
.commentMod{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.commentMod>div{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.commentMod>div>svg{
    width: 100%;
    height: 100%;
    opacity: 0;
}
@media screen and (max-width:860px){
    .profilePost{
        justify-content: center;
    }
}

@media screen and (max-width:500px){
    .profilePost{
        justify-content: center;
    }
    .profileFrag{
        width: 5rem;
        height: 10rem;
        position: relative;
    }
    .container{
        width: 100vw;
    }
    .contcont{
        padding: 0 1rem;
    }
}
