/* Define a grid layout */
.p-container {
  padding-left: 250px;
  padding-right: 450px;
}

.p-header {
  margin: 50px 10px;
  /* grid-area: p-header; */
  background-color: #f0f0f0;
  /* padding: 1.5rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px; /* Increased height */
  gap: 1rem;
  /* padding: 50px 10px;
  margin-top: 100px; */
}

/* Style the upper part of the main body */
.p-main-body {
  /* grid-area: p-main-body; */
  display: flex;
  flex-direction: row;
  /* padding: 1rem; */
}

.p-videos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.p-videos video {
  max-width: 300px;
  min-height: 500px;
}

video:hover video {
  transform: scale(1.05); /* Zoom effect on hover */
}

/* For screens 768px and smaller */
@media screen and (max-width: 1000px) {
  .p-container{
    padding-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .p-container{
    padding-left: 0;
  }
}
 
