*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 100%;
    width: 100%;
}
.contcont{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.container{
    width: 70vw;
}
.top{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.top .left, .top .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.top .right{
    align-items: flex-start;
}
.bottom{
    margin-top: 2rem;
    width: 100%;
    display: flex;
}
.post{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
}
.frag{
    width: 20vw;
    height: 63vh;
}
