.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signupwrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.signupcard{
  width: 22rem;
  margin-top: 10vw;
}
.logo{
  padding: 2rem 3rem 1rem 3rem;
}
.tnc{
  text-align: center;
  font-size: 1px;
  color: gray;
}
.phone{
  background-image: url('./images/phone.PNG');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40rem;
  width: 25rem;
  min-width: 25rem;
  margin-right: 1rem;
  position: relative;
  z-index: -10;
}
.phoneimage{
  position: absolute;
  width: 15.7rem;
  min-width: 15.7rem;
  height: 36rem;
  right:27px;
  top:38px;
  z-index: -10;
}
.carousel{
  height: 100%;
  width: 100%;
}

.uploadButton{
  display: flex;
  align-items: center;
}

header{
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}

.postHolder{
  display: flex;
  justify-content: center;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.postHolder::-webkit-scrollbar{
  display: none;
}
.post{
  width: 40rem;
  height: 77vh;
  
}


video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.videocont{
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}
.frag{
  width: 100%;
  height: 100%;
  position: relative;
}
.avatar{
  position: absolute;
  /* background-color: white; */
  z-index: 10;
  display: flex;
  align-items: center;
  bottom: 8%;
  left: 2%;
}
.name{
  color: wheat;
  font-weight: bold;
  text-shadow: 0 0 10px #000000
}
.likecont{
  position: absolute;
  /* background-color: black; */
  bottom: 6px;
  left: 3%;
}
.like{
  color: red;
  /* border: solid 1px ; */
  cursor: pointer;
  /* font-size: 4rem; */
}
.unlike{
  color: white;
  cursor: pointer;

}
.commentcont{
  position: absolute;
  bottom: 6px;
  left: 9%;
  color: white;
  cursor: pointer;
}
.likecomment{
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}
.apicomments{
  height: 65vh;
}


.text{
  color: rgb(80, 79, 79);
  margin: 10px 0;
}
.unlike2{
  color: rgb(80, 79, 79);
  cursor: pointer;
}

@media screen and (max-width:800px){
  .signupwrapper{
    flex-direction: column-reverse;
  }
}

